

.logo {
  border-radius: 50%;
}
.appHeader {
  width: 100%;
  color: var(--foreground);
  width: 100%;
  background-color: #f1e4e4;
  padding: 10px;
}

.navSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logoSection {
  flex-shrink: 0;
}

.navList {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navSection button {
  margin-left: auto;
}
